
# Twitter data analysis

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#gathering">Data gathering</a></li>
<li><a href="#Assessing">Assessing</a></li>
<li><a href="#Cleaning">Cleaning</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

In [1]:
# imports 
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import os

<a id='intro'></a>
# Introduction

> In this project, I analyze tweets from [@WeRateDogs](https://twitter.com/dog_rates) twitter account. WeRateDogs is a Twitter account with more than eight million followers that rates people's dogs with a humorous comment about the dog.
<br>
I will gather the data using the twitter API.

------------------------------------

<a id='gathering'></a>
## Data gathering

#### Read data from a CSV file

In [162]:
#Read twitter-archive-enhanced.csv file
df_csv = pd.read_csv('twitter-archive-enhanced.csv', index_col='tweet_id')
df_csv.head()

,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
tweet_id,,,,,,,,,,,,,,,,
892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

#### Download file

In [3]:
#Download image_predictions.tsv file
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
with open(os.path.join('image_predictions.tsv'), mode='wb') as file:
    file.write(r.content)

# Read the downloaded file    
df_tsv = pd.read_csv('image_predictions.tsv', sep='\t', index_col='tweet_id')
df_tsv.head()

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#### Twitter API

In [4]:
# Connect to twitter APIs
# I have stored authuntication information in auth.json file for security reasons

auth = json.load(open('auth.json'))

consumer_key = auth['consumer_key']
consumer_secret = auth['consumer_secret']
access_token = auth['access_token']
access_secret = auth['access_secret']

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth,wait_on_rate_limit=True,wait_on_rate_limit_notify=True)

In [5]:
# Check contents of a tweet response
json_keys =[]
tweet = api.get_status(892420643555336193)

In [6]:
# Get all dictionary keys recursively
keys = []
def getAllKeys(d):
    for key, value in d.items():
        keys.append(key)
        if type(value) is dict:
            getAllKeys(value)
    return keys

In [7]:
# Print tweet's properties
print(getAllKeys(tweet._json))

['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'hashtags', 'symbols', 'user_mentions', 'urls', 'media', 'extended_entities', 'media', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'id', 'id_str', 'name', 'screen_name', 'location', 'description', 'url', 'entities', 'url', 'urls', 'description', 'urls', 'protected', 'followers_count', 'friends_count', 'listed_count', 'created_at', 'favourites_count', 'utc_offset', 'time_zone', 'geo_enabled', 'verified', 'statuses_count', 'lang', 'contributors_enabled', 'is_translator', 'is_translation_enabled', 'profile_background_color', 'profile_background_image_url', 'profile_background_image_url_https', 'profile_background_tile', 'profile_image_url', 'profile_image_url_https', 'profile_banner_url', 'profile_link_color', 'profile_sidebar_border_color', 'profile_sidebar_fill_color', 'profile_text_color', 'profile_use_background_image', 'has_extended_profile', 'default_profile', 'default_profile_image', 'following', 'follow_request_sent', 'notifications', 'translator_type', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'possibly_sensitive_appealable', 'lang']

#### From the tweet properties above I select the following properties to store in the JSON file
1. tweet_id
* created_at
* favorite_count
* retweet_count
* tweet_status_ok (If status exists true else false)

In [8]:
# Read tweets with tweet id and save them in a json file
error_list=[]
with open('tweet_json.txt', 'w') as file:
    for t in np.array(df_csv.index):
        try:
            tweet = api.get_status(t)
            created_at = str(tweet.created_at)
            favorite_count = tweet.favorite_count
            retweet_count = tweet.retweet_count
            tweet_status_ok = True
        except Exception as e:
            error_list.append(str(t))

        j ={'tweet_id':int(t),
                        'created_at':str(created_at),
                        'favorite_count':int(favorite_count),
                        'retweet_count':int(retweet_count),
                        'tweet_status_ok': tweet_status_ok}
        json.dump(j,file)
        file.write('\n')

Rate limit reached. Sleeping for: 674
Rate limit reached. Sleeping for: 673

In [13]:
# Read JSON file
json_list=[]
df_json = pd.DataFrame(json_list, columns=['tweet_id','created_at','favorite_count','retweet_count','tweet_status_ok'])

with open('tweet_json.txt','r') as file:
    for line in file:
        d = json.loads(line)
        df_json = df_json.append(d, ignore_index=True)      

df_json.head()

,tweet_id,created_at,favorite_count,retweet_count,tweet_status_ok
0,892420643555336193,2017-08-01 16:23:56,36600,7789,True
1,892177421306343426,2017-08-01 00:17:27,31536,5771,True
2,891815181378084864,2017-07-31 00:18:03,23755,3820,True
3,891689557279858688,2017-07-30 15:58:51,39927,7961,True
4,891327558926688256,2017-07-29 16:00:24,38124,8598,True

------------------------------

<a id='intro'></a>
# Assessing

#### Unclean Data: Dirty vs. Messy

>There are two types of unclean data:
>* **Dirty** data, also known as **low quality** data. Low quality data has **content issues**.
>* **Messy** data, also known as **untidy data**. Untidy data has **structural issues**.

#### Visual Assesment

In [68]:
df_csv.head() 
#also checked
#df_csv.head(50)
#df_csv.tail(50)
#df_csv.sample(50)

,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
tweet_id,,,,,,,,,,,,,,,,
748337862848962560,NaN,NaN,2016-06-30 02:10:24 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",SWIM AWAY PUPPER SWIM AWAY 13/10 #BarkWeek ht...,NaN,NaN,NaN,https://vine.co/v/h5aDaFthX6O,13,10,None,None,None,pupper,None
697482927769255936,NaN,NaN,2016-02-10 18:11:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Blipson. He's a Doowap Hufflepuff. That U...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697482927...,11,10,Blipson,None,None,None,None
672591762242805761,NaN,NaN,2015-12-04 01:42:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Taz. He boxes leaves. 10/10 https://t....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672591762...,10,10,Taz,None,None,None,None
739606147276148736,NaN,NaN,2016-06-05 23:53:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Benji. He just turned 1. Has already give...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/739606147...,9,10,Benji,None,None,pupper,None
781655249211752448,NaN,NaN,2016-09-30 00:41:48 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This is Combo. The daily struggles of being a ...,NaN,NaN,NaN,https://vine.co/v/5rt6T3qm7hL,11,10,Combo,doggo,None,None,None
796759840936919040,NaN,NaN,2016-11-10 17:02:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Romeo. He was just told that it's...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/796759840...,11,10,Romeo,None,None,None,None
718613305783398402,NaN,NaN,2016-04-09 01:35:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Carper. He's a Tortellini Angiosperm. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/718613305...,11,10,Carper,None,None,None,None
748699167502000129,NaN,NaN,2016-07-01 02:06:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Tripp. He's being eaten by a sherk and do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/748699167...,11,10,Tripp,None,None,None,None
741438259667034112,NaN,NaN,2016-06-11 01:13:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tucker. He's still figuring out couche...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/741438259...,9,10,Tucker,None,None,None,None
833479644947025920,NaN,NaN,2017-02-20 00:53:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Poppy. She just arrived. 13/10 would s...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/833479644...,13,10,Poppy,None,None,None,None
783466772167098368,NaN,NaN,2016-10-05 00:40:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Finn. He likes eavesdropping from fili...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/783466772...,11,10,Finn,None,None,None,None
877736472329191424,NaN,NaN,2017-06-22 03:54:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Aja. She was just told she's a good do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/877736472...,13,10,Aja,None,None,None,None
798673117451325440,NaN,NaN,2016-11-15 23:44:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: I shall call him squishy and he...,6.755011e+17,4.196984e+09,2015-12-12 02:23:01 +0000,https://twitter.com/dog_rates/status/675501075...,13,10,None,None,None,None,None
791672322847637504,NaN,NaN,2016-10-27 16:06:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When she says you're a good boy and you know y...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/791672322...,13,10,None,None,None,None,None
760521673607086080,NaN,NaN,2016-08-02 17:04:31 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Doggo want what doggo cannot have. Temptation ...,NaN,NaN,NaN,https://vine.co/v/5ApKetxzmTB,12,10,None,doggo,None,None,None
891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
713177543487135744,NaN,NaN,2016-03-25 01:35:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lance. Lance doesn't give a shit. 10/1...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713177543...,10,10,Lance,None,None,None,None
671497587707535361,NaN,NaN,2015-12-01 01:14:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pip. He is a ship captain. Many years ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671497587...,11,10,Pip,None,None,None,None
671504605491109889,NaN,NaN,2015-12-01 01:42:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He was just informed that dog...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671504605...,11,10,Charlie,None,None,None,None
712065007010385924,NaN,NaN,2016-03-21 23:55:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Chester. He's clearly in charge of the...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/712065007...,6,10,Chester,None,None,None,None
802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
868639477480148993,NaN,NaN,2017-05-28 01:26:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Say hello to Cooper. His expres...,8.685523e+17,4.196984e+09,2017-05-27 19:39:34 +0000,"https://www.gofundme.com/3ti3nps,https://twitt...",12,10,Cooper,None,None,None,None
825829644528148480,NaN,NaN,2017-01-29 22:15:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Toby. He just found out you only prete...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/825829644...,12,10,Toby,None,None,None,None
855459453768019968,NaN,NaN,2017-04-21 16:33:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Guys, we only rate dogs. This is quite clearly...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/855459453...,12,10,quite,None,None,None,None
682697186228989953,NaN,NaN,2015-12-31 22:57:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",NAAAAAAA ZAPENYAAAAA MABADI-CHIBAWAAA 12/10 ht...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682697186...,12,10,None,None,None,None,None
775085132600442880,NaN,NaN,2016-09-11 21:34:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tucker. He would like a hug. 13/10 som...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/775085132...,13,10,Tucker,None,None,None,None
788178268662984705,NaN,NaN,2016-10-18 00:41:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Atlas is back and this time he's got doggles. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/788178268...,13,10,None,None,None,None,None
757354760399941633,NaN,NaN,2016-07-24 23:20:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Devón (pronounced ""Eric""). He forgot h...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/757354760...,8,10,Devón,None,None,None,None
813944609378369540,NaN,NaN,2016-12-28 03:08:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bruce. He never backs d...,7.902771e+17,4.196984e+09,2016-10-23 19:42:02 +0000,https://twitter.com/dog_rates/status/790277117...,11,10,Bruce,None,None,None,None
676588346097852417,NaN,NaN,2015-12-15 02:23:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bubbles. He kinda resembles a fish. Al...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676588346...,5,10,Bubbles,None,None,None,None
775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
778383385161035776,NaN,NaN,2016-09-21 00:00:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Nala. She's a future Dogue model. Won'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778383385...,13,10,Nala,None,None,None,None
724049859469295616,NaN,NaN,2016-04-24 01:38:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kreggory. He just took a look at his s...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/724049859...,10,10,Kreggory,None,None,None,None
666421158376562688,NaN,NaN,2015-11-17 01:02:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",*internally screaming* 12/10 https://t.co/YMcr...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666421158...,12,10,None,None,None,None,None
694342028726001664,NaN,NaN,2016-02-02 02:10:14 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",It's okay pup. This happens every time I liste...,NaN,NaN,NaN,https://vine.co/v/iJWKejYdLlh,11,10,None,None,None,None,None
816091915477250048,NaN,NaN,2017-01-03 01:20:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Comet. He's a Wild Estonian Poofer. Su...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/816091915...,12,10,Comet,None,None,None,None
667911425562669056,NaN,NaN,2015-11-21 03:44:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Wow. Armored dog here. Ready for battle. Face ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667911425...,5,10,None,None,None,None,None
719551379208073216,NaN,NaN,2016-04-11 15:43:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Harnold. He accidentally opened the fr...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/719551379...,10,10,Harnold,None,None,None,None
719991154352222208,NaN,NaN,2016-04-12 20:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This doggo was initially thrilled when she saw...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/719991154...,10,10,None,doggo,None,None,None
707693576495472641,NaN,NaN,2016-03-09 22:24:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jiminus. He's in a tub for some reason...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/707693576...,7,10,Jiminus,None,None,None,None
778990705243029504,NaN,NaN,2016-09-22 16:13:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jay. He's really h*ckin happy about th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778990705...,11,10,Jay,None,None,None,None
742385895052087300,NaN,NaN,2016-06-13 15:59:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phil. That's his comfort stick. He hol...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/742385895...,11,10,Phil,None,None,None,None
859607811541651456,NaN,NaN,2017-05-03 03:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Sorry for the lack of posts today. I came home...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/859607811...,13,10,None,None,None,None,puppo
671882082306625538,NaN,NaN,2015-12-02 02:42:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Batdog. He's sleeping now but when he ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671882082...,11,10,Batdog,None,None,None,None
667090893657276420,NaN,NaN,2015-11-18 21:23:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Clybe. He is an Anemone Valdez. One ea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667090893...,7,10,Clybe,None,None,None,None
693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
780192070812196864,NaN,NaN,2016-09-25 23:47:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. Pls stop sending in non-can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/780192070...,11,10,None,None,None,None,None
886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
689999384604450816,NaN,NaN,2016-01-21 02:34:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Covach. He's trying to melt the snow. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/689999384...,10,10,Covach,None,None,None,None
675135153782571009,NaN,NaN,2015-12-11 02:08:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Steven. He got locked outside. Damn it...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675135153...,5,10,Steven,None,None,None,None

In [19]:
df_tsv.head() 
#also checked
#df_tsv.head(50)
#df_tsv.tail(50)
#df_tsv.sample(50)

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [18]:
df_json.head()
#also checked
#df_json.head(50)
#df_json.tail(50)
#df_json.sample(50)

,tweet_id,created_at,favorite_count,retweet_count,tweet_status_ok
0,892420643555336193,2017-08-01 16:23:56,36600,7789,True
1,892177421306343426,2017-08-01 00:17:27,31536,5771,True
2,891815181378084864,2017-07-31 00:18:03,23755,3820,True
3,891689557279858688,2017-07-30 15:58:51,39927,7961,True
4,891327558926688256,2017-07-29 16:00:24,38124,8598,True

#### Quality issues:
> **`df_csv`:** 
* `source` is in form of a html tag.
* Some `name`s are null.
* There is a `+0000` at the end the time in `timestamp` column.
* There is a `+0000` at the end the time in `retweeted_status_timestamp` column (if it is not null).
* Nulls represented as None in `doggo`, `floofer`,`pupper` and `puppo` columns.
* In the `name` column, there are several `None` values.

>**`df_tsv`:**
* Some values include underlines in `p1` and `p2` columns.
* Values in `p1` and `p1` are not consistant (Capital or not). 

>**`df_json`:**
* No considerable visual issue

#### Tidiness issues:
> **`df_csv`:** 
* Four seprated columns for  `doggo`, `floofer`,`pupper` and `puppo` instead of one column as `stage`.

>**`df_tsv`:**
* Columns' title are not descriptive.

>**`df_json`:**
* No considerable visual issue.

### Programatical Assesment

In [24]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 892420643555336193 to 666020888022790149
Data columns (total 16 columns):
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 312.9+ KB

In [23]:
df_csv.describe()

,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [37]:
#df_csv['rating_denominator'].value_counts()
df_csv['rating_numerator'].value_counts()
#df_csv['name'].value_counts()
#df_csv['puppo'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [38]:
df_tsv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 666020888022790149 to 892420643555336193
Data columns (total 11 columns):
jpg_url    2075 non-null object
img_num    2075 non-null int64
p1         2075 non-null object
p1_conf    2075 non-null float64
p1_dog     2075 non-null bool
p2         2075 non-null object
p2_conf    2075 non-null float64
p2_dog     2075 non-null bool
p3         2075 non-null object
p3_conf    2075 non-null float64
p3_dog     2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(4)
memory usage: 152.0+ KB

In [39]:
df_tsv.describe()

           img_num      p1_conf       p2_conf       p3_conf
count  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean      1.203855     0.594548  1.345886e-01  6.032417e-02
std       0.561875     0.271174  1.006657e-01  5.090593e-02
min       1.000000     0.044333  1.011300e-08  1.740170e-10
25%       1.000000     0.364412  5.388625e-02  1.622240e-02
50%       1.000000     0.588230  1.181810e-01  4.944380e-02
75%       1.000000     0.843855  1.955655e-01  9.180755e-02
max       4.000000     1.000000  4.880140e-01  2.734190e-01

In [56]:
# Check if there config value order is correct
df_tsv.query('(p3_conf > p2_conf) or (p2_conf > p1_conf)').shape[0]

0

In [55]:
#Check the p1_dog column to make sure we have only true and false
df_tsv['p1_dog'].value_counts()
#Also checked
#df_tsv['p2_dog'].value_counts()
#df_tsv['p3_dog'].value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

In [62]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 5 columns):
tweet_id           2356 non-null object
created_at         2356 non-null object
favorite_count     2356 non-null object
retweet_count      2356 non-null object
tweet_status_ok    2356 non-null object
dtypes: object(5)
memory usage: 92.2+ KB

In [63]:
df_json.describe()

,tweet_id,created_at,favorite_count,retweet_count,tweet_status_ok
count,2356,2356,2356,2356,2356
unique,2356,2331,1975,1677,1
top,667495797102141441,2016-08-31 15:58:28,0,281,True
freq,1,2,164,5,2356

#### Quality issues:
> **`df_csv`:** 
* There is values other than 10 for `rating_denominator`. Values such as 170, 150 and 2 do not look logical in this column.
* Expected value for `rating_numerator` is between `10` and `15` but we have values such as 201, 1776, 1 and etc.
* Data type for `timestamp` is string (object) it should be datetime


>**`df_tsv`:**
* No considerable issue

>**`df_json`:**
* No considerable issue

#### Tidiness issues:

* No considerable  issue

### All the issues combined:
#### Quality issues:
> **`df_csv`:** 
* `source` is in the form of an html tag.
* There is a `+0000` at the end the time in the `timestamp` column.
* There is a `+0000` at the end the time in the `retweeted_status_timestamp` column (if it is not null).
* Nulls represented as None in `doggo`, `floofer`,`pupper` and `puppo` columns.
* In the `name` column, there are several `None` values.
* There is values other than 10 for `rating_denominator`. Values such as 170, 150 and 2 do not look logical in this column.
* Expected value for `rating_numerator` is between `10` and `15` but we have values such as 201, 1776, 1 and etc.
* Data type for `timestamp` is string (object) it should be DateTime

>**`df_tsv`:**
* Some values include underlines in `p1` and `p2` columns.
* Values in `p1` and `p1` are not consistant (Capital or not). 

>**`df_json`:**
* No considerable visual issue

#### Tidiness issues:
> **`df_csv`:** 
* Four seprated columns for  `doggo`, `floofer`,`pupper` and `puppo` instead of one column as `stage`.

>**`df_tsv`:**
* Columns' title are not descriptive.

>**`df_json`:**
* No considerable visual issue.

--------------

<a id='Cleaning'></a>
# Cleaning

In [174]:
# Make a copy of each dataframe
df_csv_clean = df_csv.copy()
df_tsv_clean = df_tsv.copy()
df_json_clean = df_json.copy()

### Define


>1. Convert None to NaN. (Handel missing values) (We cannot do anything about the null names but at least we can convert then to `NaN` so we know we have null values)
5. Convert None to NaN on doggo, floofer,pupper and puppo columns.(Handel missing values)
* Merge Four seprated columns(`doggo`, `floofer`,`pupper` and `puppo`) into one column(`stage`). (Fixan structural issue)
* Make `df_tsv' columns discriptive . (Fixan structural issue)
1. Extract source from html tag in the `source` column and remove the unnecessary text.
3. There is a +0000 at the end the time in the timestamp column.
4. There is a +0000 at the end the time in the retweeted_status_timestamp column (if it is not null).
7. There is values other than 10 for rating_denominator. Values such as 170, 150 and 2 do not look logical in this column.
9. Expected value for rating_numerator is between 10 and 15 but we have values such as 201, 1776, 1 and etc.
10. Data type for timestamp is string (object) it should be DateTime

### Code and Test

In [175]:
# 1. Convert None to NaN. (Handel missing values)
# Code: 
df_csv_clean.name.replace('None', np.NaN,inplace = True)
# 745 records updated

In [176]:
# Test:
print(df_csv_clean.query('name == "None"').shape[0])
print(df_csv_clean[df_csv_clean['name'].isna()].shape[0])

0
745

In [177]:
# 2. Convert None to NaN on doggo, floofer,pupper and puppo columns.(Handel missing values)
# Code:
df_csv_clean.doggo.replace('None', np.NaN,inplace = True)
df_csv_clean.floofer.replace('None', np.NaN,inplace = True)
df_csv_clean.pupper.replace('None', np.NaN,inplace = True)
df_csv_clean.puppo.replace('None', np.NaN,inplace = True)

In [178]:
# Test
print('doggo:')
print(df_csv_clean.query('doggo == "None"').shape[0])
print(df_csv_clean[df_csv_clean['doggo'].isna()].shape[0])
print('floofer:')
print(df_csv_clean.query('floofer == "None"').shape[0])
print(df_csv_clean[df_csv_clean['floofer'].isna()].shape[0])
print('pupper:')
print(df_csv_clean.query('pupper == "None"').shape[0])
print(df_csv_clean[df_csv_clean['pupper'].isna()].shape[0])
print('puppo:')
print(df_csv_clean.query('puppo == "None"').shape[0])
print(df_csv_clean[df_csv_clean['puppo'].isna()].shape[0])

doggo:
0
2259
floofer:
0
2346
pupper:
0
2099
puppo:
0
2326

In [184]:
# 3. Merge Four seprated columns(doggo, floofer,pupper and puppo) into one column(stage). (Fixan structural issue)
# Code:

def mergColumns(col1, col2, col3, col4):
    if col1 is not None:
        return col1
    elif col2 is not None:
        return col2
    elif col3 is not None:
        return col3
    elif col4 is not None:
        return col4
    else:
        return None

In [190]:
df_csv_clean['stage'] = df_csv_clean.apply(lambda x: mergColumns(x['floofer'], x['doggo'],x['pupper'],x['puppo']), axis=1)

In [188]:
# Test:
df_csv_clean['stage'].value_counts()

floofer    10
Name: stage, dtype: int64

In [134]:
# 4. Extract source from html tag in the `source` column and remove the unnecessary text
# Code:
df_csv_clean['source'] = df_csv_clean['source'].str.extract(r'>(.*?)<')

In [91]:
# Test:
df_csv_clean['source'].value_counts()

Twitter for iPhone     2221
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                11
Name: source, dtype: int64

-------------------------------------------------------

<a id='conclusions'></a>
# Conclusions