
# Twitter data analysis

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#gathering">Data gathering</a></li>
<li><a href="#Assessing">Assessing</a></li>
<li><a href="#Cleaning">Cleaning</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

In [1]:
# imports 
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import os

<a id='intro'></a>
# Introduction

> In this project, I analyze tweets from [@WeRateDogs](https://twitter.com/dog_rates) twitter account. WeRateDogs is a Twitter account with more than eight million followers that rates people's dogs with a humorous comment about the dog.
<br>
I will gather the data using the twitter API.

------------------------------------

<a id='gathering'></a>
## Data gathering

#### Read data from a CSV file

In [2]:
#Read twitter-archive-enhanced.csv file
df_csv = pd.read_csv('twitter-archive-enhanced.csv', index_col='tweet_id')
df_csv.head()

,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
tweet_id,,,,,,,,,,,,,,,,
892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

#### Download file

In [3]:
#Download image_predictions.tsv file
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
with open(os.path.join('image_predictions.tsv'), mode='wb') as file:
    file.write(r.content)

# Read the downloaded file    
df_tsv = pd.read_csv('image_predictions.tsv', sep='\t', index_col='tweet_id')
df_tsv.head()

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#### Twitter API

In [4]:
# Connect to twitter APIs
# I have stored authuntication information in auth.json file for security reasons

auth = json.load(open('auth.json'))

consumer_key = auth['consumer_key']
consumer_secret = auth['consumer_secret']
access_token = auth['access_token']
access_secret = auth['access_secret']

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth,wait_on_rate_limit=True,wait_on_rate_limit_notify=True)

In [5]:
# Check contents of a tweet response
json_keys =[]
tweet = api.get_status(892420643555336193)

In [6]:
# Get all dictionary keys recursively
keys = []
def getAllKeys(d):
    for key, value in d.items():
        keys.append(key)
        if type(value) is dict:
            getAllKeys(value)
    return keys

In [7]:
# Print tweet's properties
print(getAllKeys(tweet._json))

['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'hashtags', 'symbols', 'user_mentions', 'urls', 'media', 'extended_entities', 'media', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'id', 'id_str', 'name', 'screen_name', 'location', 'description', 'url', 'entities', 'url', 'urls', 'description', 'urls', 'protected', 'followers_count', 'friends_count', 'listed_count', 'created_at', 'favourites_count', 'utc_offset', 'time_zone', 'geo_enabled', 'verified', 'statuses_count', 'lang', 'contributors_enabled', 'is_translator', 'is_translation_enabled', 'profile_background_color', 'profile_background_image_url', 'profile_background_image_url_https', 'profile_background_tile', 'profile_image_url', 'profile_image_url_https', 'profile_banner_url', 'profile_link_color', 'profile_sidebar_border_color', 'profile_sidebar_fill_color', 'profile_text_color', 'profile_use_background_image', 'has_extended_profile', 'default_profile', 'default_profile_image', 'following', 'follow_request_sent', 'notifications', 'translator_type', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'possibly_sensitive_appealable', 'lang']

#### From the tweet properties above I select the following properties to store in the JSON file
1. tweet_id
* created_at
* favorite_count
* retweet_count
* tweet_status_ok (If status exists true else false)

In [8]:
# Read tweets with tweet id and save them in a json file
error_list=[]
with open('tweet_json.txt', 'w') as file:
    for t in np.array(df_csv.index):
        try:
            tweet = api.get_status(t)
            created_at = str(tweet.created_at)
            favorite_count = tweet.favorite_count
            retweet_count = tweet.retweet_count
            tweet_status_ok = True
        except Exception as e:
            error_list.append(str(t))

        j ={'tweet_id':int(t),
                        'created_at':str(created_at),
                        'favorite_count':int(favorite_count),
                        'retweet_count':int(retweet_count),
                        'tweet_status_ok': tweet_status_ok}
        json.dump(j,file)
        file.write('\n')

Rate limit reached. Sleeping for: 674
Rate limit reached. Sleeping for: 673

In [8]:
# Read JSON file
json_list=[]
df_json = pd.DataFrame(json_list, columns=['tweet_id','created_at','favorite_count','retweet_count','tweet_status_ok'])

with open('tweet_json.txt','r') as file:
    for line in file:
        d = json.loads(line)
        df_json = df_json.append(d, ignore_index=True)      

df_json.head()

,tweet_id,created_at,favorite_count,retweet_count,tweet_status_ok
0,892420643555336193,2017-08-01 16:23:56,36600,7789,True
1,892177421306343426,2017-08-01 00:17:27,31536,5771,True
2,891815181378084864,2017-07-31 00:18:03,23755,3820,True
3,891689557279858688,2017-07-30 15:58:51,39927,7961,True
4,891327558926688256,2017-07-29 16:00:24,38124,8598,True

------------------------------

<a id='intro'></a>
# Assessing

#### Unclean Data: Dirty vs. Messy

>There are two types of unclean data:
>* **Dirty** data, also known as **low quality** data. Low quality data has **content issues**.
>* **Messy** data, also known as **untidy data**. Untidy data has **structural issues**.

#### Visual Assesment

In [9]:
df_csv.head() 
#also checked
#df_csv.head(50)
#df_csv.tail(50)
#df_csv.sample(50)

,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
tweet_id,,,,,,,,,,,,,,,,
892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [10]:
df_tsv.head() 
#also checked
#df_tsv.head(50)
#df_tsv.tail(50)
#df_tsv.sample(50)

,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
tweet_id,,,,,,,,,,,
666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [11]:
df_json.head()
#also checked
#df_json.head(50)
#df_json.tail(50)
#df_json.sample(50)

,tweet_id,created_at,favorite_count,retweet_count,tweet_status_ok
0,892420643555336193,2017-08-01 16:23:56,36600,7789,True
1,892177421306343426,2017-08-01 00:17:27,31536,5771,True
2,891815181378084864,2017-07-31 00:18:03,23755,3820,True
3,891689557279858688,2017-07-30 15:58:51,39927,7961,True
4,891327558926688256,2017-07-29 16:00:24,38124,8598,True

#### Quality issues:
> **`df_csv`:** 
* `source` is in form of a html tag.
* Some `name`s are null.
* There is a `+0000` at the end the time in `timestamp` column.
* There is a `+0000` at the end the time in `retweeted_status_timestamp` column (if it is not null).
* Nulls represented as None in `doggo`, `floofer`,`pupper` and `puppo` columns.
* In the `name` column, there are several `None` values.

>**`df_tsv`:**
* Some values include underlines in `p1` and `p2` columns.
* Values in `p1` and `p1` are not consistant (Capital or not). 

>**`df_json`:**
* No considerable visual issue

#### Tidiness issues:
> **`df_csv`:** 
* Four seprated columns for  `doggo`, `floofer`,`pupper` and `puppo` instead of one column as `stage`.

>**`df_tsv`:**
* Columns' title are not descriptive.

>**`df_json`:**
* No considerable visual issue.

### Programatical Assesment

In [12]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 892420643555336193 to 666020888022790149
Data columns (total 16 columns):
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 312.9+ KB

In [13]:
df_csv.describe()

,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [301]:
# Check if a dog has more than one stages
print('doggo and floofer: ',df_csv.query('(doggo == "doggo" and floofer == "floofer")').shape[0])
print('doggo and pupper:  ',df_csv.query('(doggo == "doggo" and pupper == "pupper")').shape[0])
print('doggo and puppo:   ', df_csv.query('(doggo == "doggo" and puppo == "puppo")').shape[0])
print(df_csv.query('(floofer == "floofer" and puppo == "puppo")').shape[0])
print(df_csv.query('(floofer == "floofer" and pupper == "pupper")').shape[0])
print(df_csv.query('(puppo == "puppo" and pupper == "pupper")').shape[0])
print(df_csv.query('pupper == "pupper" and doggo == "doggo" and floofer == "floofer"').shape[0])
print(df_csv.query('puppo == "puppo" and doggo == "doggo" and floofer == "floofer"').shape[0])
print(df_csv.query('puppo == "puppo" and pupper == "pupper" and floofer == "floofer"').shape[0])
print(df_csv.query('puppo == "puppo" and pupper == "pupper" and doggo == "doggo"').shape[0])
print(df_csv.query('puppo == "puppo" and pupper == "pupper" and doggo == "doggo" and floofer == "floofer"').shape[0])

doggo and floofer:  1
doggo and pupper:   12
doggo and puppo:    1
0
0
0
0
0
0
0
0

In [271]:
#df_csv['rating_denominator'].value_counts()
#df_csv['rating_numerator'].value_counts()
#df_csv['name'].value_counts()
#df_csv['puppo'].value_counts()

In [15]:
df_tsv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 666020888022790149 to 892420643555336193
Data columns (total 11 columns):
jpg_url    2075 non-null object
img_num    2075 non-null int64
p1         2075 non-null object
p1_conf    2075 non-null float64
p1_dog     2075 non-null bool
p2         2075 non-null object
p2_conf    2075 non-null float64
p2_dog     2075 non-null bool
p3         2075 non-null object
p3_conf    2075 non-null float64
p3_dog     2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(4)
memory usage: 152.0+ KB

In [16]:
df_tsv.describe()

           img_num      p1_conf       p2_conf       p3_conf
count  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean      1.203855     0.594548  1.345886e-01  6.032417e-02
std       0.561875     0.271174  1.006657e-01  5.090593e-02
min       1.000000     0.044333  1.011300e-08  1.740170e-10
25%       1.000000     0.364412  5.388625e-02  1.622240e-02
50%       1.000000     0.588230  1.181810e-01  4.944380e-02
75%       1.000000     0.843855  1.955655e-01  9.180755e-02
max       4.000000     1.000000  4.880140e-01  2.734190e-01

In [17]:
# Check if there config value order is correct
df_tsv.query('(p3_conf > p2_conf) or (p2_conf > p1_conf)').shape[0]

0

In [18]:
#Check the p1_dog column to make sure we have only true and false
df_tsv['p1_dog'].value_counts()
#Also checked
#df_tsv['p2_dog'].value_counts()
#df_tsv['p3_dog'].value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

In [19]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 5 columns):
tweet_id           2356 non-null object
created_at         2356 non-null object
favorite_count     2356 non-null object
retweet_count      2356 non-null object
tweet_status_ok    2356 non-null object
dtypes: object(5)
memory usage: 92.1+ KB

In [20]:
df_json.describe()

,tweet_id,created_at,favorite_count,retweet_count,tweet_status_ok
count,2356,2356,2356,2356,2356
unique,2356,2331,1975,1677,1
top,667495797102141441,2017-03-03 01:14:41,0,281,True
freq,1,2,164,5,2356

#### Quality issues:
> **`df_csv`:** 
* There is values other than 10 for `rating_denominator`. Values such as 170, 150 and 2 do not look logical in this column.
* Expected value for `rating_numerator` is between `10` and `15` but we have values such as 201, 1776, 1 and etc.
* Data type for `timestamp` is string (object) it should be datetime
* 14 of the dogs has more than one stages.


>**`df_tsv`:**
* No considerable issue

>**`df_json`:**
* No considerable issue

#### Tidiness issues:

* No considerable  issue

### All the issues combined:
#### Quality issues:
> **`df_csv`:** 
* `source` is in the form of an html tag.
* There is a `+0000` at the end the time in the `timestamp` column.
* There is a `+0000` at the end the time in the `retweeted_status_timestamp` column (if it is not null).
* Nulls represented as None in `doggo`, `floofer`,`pupper` and `puppo` columns.
* In the `name` column, there are several `None` values.
* There is values other than 10 for `rating_denominator`. Values such as 170, 150 and 2 do not look logical in this column.
* Expected value for `rating_numerator` is between `10` and `15` but we have values such as 201, 1776, 1 and etc.
* Data type for `timestamp` is string (object) it should be DateTime
* 14 of the dogs has more than one stages.

>**`df_tsv`:**
* Some values include underlines in `p1` and `p2` columns.
* Values in `p1` and `p1` are not consistant (Capital or not). 

>**`df_json`:**
* No considerable visual issue

#### Tidiness issues:
> **`df_csv`:** 
* Four seprated columns for  `doggo`, `floofer`,`pupper` and `puppo` instead of one column as `stage`.

>**`df_tsv`:**
* Columns' title are not descriptive.

>**`df_json`:**
* No considerable visual issue.

--------------

<a id='Cleaning'></a>
# Cleaning

In [373]:
# Make a copy of each dataframe
df_csv_clean = df_csv.copy()
df_tsv_clean = df_tsv.copy()
df_json_clean = df_json.copy()

### Define


>1. Convert None to NaN. (Handel missing values) (We cannot do anything about the null names but at least we can convert then to `NaN` so we know we have null values)
5. Convert None to NaN on doggo, floofer,pupper and puppo columns.(Handel missing values)
* Deside about 14 dogs with more than one stage.
* Merge Four seprated columns(`doggo`, `floofer`,`pupper` and `puppo`) into one column(`stage`). (Fixan structural issue)
* Make `df_tsv' columns discriptive . (Fixan structural issue)
1. Extract source from html tag in the `source` column and remove the unnecessary text.
3. There is a +0000 at the end the time in the timestamp column.
4. There is a +0000 at the end the time in the retweeted_status_timestamp column (if it is not null).
7. There is values other than 10 for rating_denominator. Values such as 170, 150 and 2 do not look logical in this column.
9. Expected value for rating_numerator is between 10 and 15 but we have values such as 201, 1776, 1 and etc.
10. Data type for timestamp is string (object) it should be DateTime

### Code and Test

In [374]:
# 1. Convert None to NaN. (Handel missing values)
# Code: 
df_csv_clean.name.replace('None', np.NaN,inplace = True)
# 745 records updated

In [375]:
# Test:
print(df_csv_clean.query('name == "None"').shape[0])
print(df_csv_clean[df_csv_clean['name'].isna()].shape[0])

0
745

In [376]:
# 2. Convert None to NaN on doggo, floofer,pupper and puppo columns.(Handel missing values)
# Code:
df_csv_clean.doggo.replace('None', np.NaN,inplace = True)
df_csv_clean.floofer.replace('None', np.NaN,inplace = True)
df_csv_clean.pupper.replace('None', np.NaN,inplace = True)
df_csv_clean.puppo.replace('None', np.NaN,inplace = True)

In [377]:
# Test
print('doggo:')
print(df_csv_clean.query('doggo == "None"').shape[0])
print(df_csv_clean[df_csv_clean['doggo'].isna()].shape[0])
print('floofer:')
print(df_csv_clean.query('floofer == "None"').shape[0])
print(df_csv_clean[df_csv_clean['floofer'].isna()].shape[0])
print('pupper:')
print(df_csv_clean.query('pupper == "None"').shape[0])
print(df_csv_clean[df_csv_clean['pupper'].isna()].shape[0])
print('puppo:')
print(df_csv_clean.query('puppo == "None"').shape[0])
print(df_csv_clean[df_csv_clean['puppo'].isna()].shape[0])

doggo:
0
2259
floofer:
0
2346
pupper:
0
2099
puppo:
0
2326

In [378]:
# 3. Deside about 14 dogs with more than one stage.
dog_stages=['doggo', 'floofer','pupper', 'puppo']
for stg in dog_stages:
    df_csv_clean[stg] = df_csv_clean[stg].apply(lambda x: (dog_stages.index(stg)+1) if x==stg else 0)
    
df_csv_clean['stage_parity'] = df_csv_clean.apply(lambda x: str(x['doggo'])+ str(x['floofer'])+ str(x['pupper'])+ str(x['puppo']), axis=1)

In [379]:
# Test: every value for stage_parity other than 0000, 1000, 0200, 0030 and 0004 are rows with more than one stages.
df_csv_clean['stage_parity'].value_counts()

0000    1976
0030     245
1000      83
0004      29
1030      12
0200       9
1004       1
1200       1
Name: stage_parity, dtype: int64

In [380]:
invalid_stages = df_csv_clean.query('stage_parity in ("1030","1004","1200")').index
print(invalid_stages)

Int64Index([855851453814013952, 854010172552949760, 817777686764523521,
            808106460588765185, 802265048156610565, 801115127852503040,
            785639753186217984, 781308096455073793, 775898661951791106,
            770093767776997377, 759793422261743616, 751583847268179968,
            741067306818797568, 733109485275860992],
           dtype='int64', name='tweet_id')

In [383]:
# Investigate the text of these tweets visually to see if we can set the correct stage
df_csv_clean.query('tweet_id in @invalid_stages').to_csv('wrong_stage.csv')
# Probably identifying a dogs stage was based on the text.
# The text has been parsed and if one of the stages had been mentioned in the text,
# they had selected that as stage. In the text for these 14 dogs more than one stage had been mentioned
# I read the text and fixed some of them. The others are photo of two dogs with different stages.
# I will remove rows with more than one stage after manual fixation

# Read the fixed version
fixed_stages = pd.read_csv('wrong_stage_fixed.csv', index_col = 'tweet_id')

In [ ]:
# Drop tweets with more than one stage
df_csv_clean.drop(invalid_stages, inplace = True)

# Combine he fixed tweets
df_csv_clean = pd.concat([df_csv_clean, fixed_stages], axis=0)

In [387]:
# Checke again 
dog_stages=['doggo', 'floofer','pupper', 'puppo']
for stg in dog_stages:
    df_csv_clean[stg] = df_csv_clean[stg].apply(lambda x: (dog_stages.index(stg)+1) if x==(dog_stages.index(stg)+1) else 0)
    
df_csv_clean['stage_parity'] = df_csv_clean.apply(lambda x: str(x['doggo'])+ str(x['floofer'])+ str(x['pupper'])+ str(x['puppo']), axis=1)
df_csv_clean['stage_parity'].value_counts()

0000    1976
0030     246
1000      85
0004      30
0200      10
Name: stage_parity, dtype: int64

In [386]:
invalid_stages = df_csv_clean.query('stage_parity in ("1030")').index
# Drop tweets with more than one stage after manual fixation
df_csv_clean.drop(invalid_stages, inplace = True)

In [32]:
# 4. Extract source from html tag in the `source` column and remove the unnecessary text
# Code:
df_csv_clean['source'] = df_csv_clean['source'].str.extract(r'>(.*?)<')

In [33]:
# Test:
df_csv_clean['source'].value_counts()

Twitter for iPhone     2221
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                11
Name: source, dtype: int64

-------------------------------------------------------

<a id='conclusions'></a>
# Conclusions